<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./left.css" type="text/css" rel="stylesheet"/>
    <title>学生列表</title>
    <div>
        <form id="ListStudent">
            姓名：<input type="text" name="name" size="100">
            年级：<input type="text" name="grade" size="2">
            班级：<input type="text" name="clazz" size="3">
            <input type="button" value="" onclick="upload()">
            <br>
        </form>
        <a href="http://127.0.0.1:8080/addStudent">添加新学生</a>
    </div>
</head>

<body>
<div class="parent">
    <div class="left">
        <p>left</p>
    </div>
    <div class="right">
        <p>
        <div id="Result" style="margin: 0px 0 0px 5%;"></div>
        </p>
    </div>
</div>
</body>
<script type="text/javascript"
        src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script>
    function upload() {
        $.ajax({
            type: "POST",
            url: "AddStudent",
            data: $('#AddStudent').serialize(),
            dataType: "json",//类型
            success: function (msg) {

                var html = "<table id='myTable' border='1'><tr><td>姓名</td><td>年级</td><td>班级</td><td>修改</td><td>删除</td></tr>";
                for (var i = 0; i < msg.length; i++) {    //遍历data数组
                    var ls = msg[i];
                    html += "<tr  ><td>" + ls.name + "</td><td>" + ls.grade + "</td><td>" + ls.clazz + "</td><td>" + "<a href='http://127.0.0.1:8080/modifyStudent?id=" + ls.id + "'>修改</a>" + "</td><td><button onclick='deleteReg(" + ls.id + "," + i + ")'>删除</button></td>";
                }
                html += "</tr></table>";
                $("#Result").html(html);
            },
            error: function () {
                alert("添加失败");
            }
        });
    };


    function deleteReg(id, i) {
        $.ajax({
            type: 'post',
            url: 'DeleteStudent',
            data: {
                "id": id
            },
            success: function (data) {
                if (data == "success") {
                    alert("删除成功")
                    document.getElementById('myTable').deleteRow(i + 1);//主要就是这个删除成功后移除这行数据
                }
            }

        })
    }


</script>
</html>