<div class="left">
    <p><a href="http://127.0.0.1:8080/index"  target="_self">首页（考试）</a></p>
    <p><a href="http://127.0.0.1:8080/listStudent"  target="_self">编辑学生</a></p>
    <p><a href="http://127.0.0.1:8080/listTeacher" target="_self">编辑老师</a></p>
    <p><a href="http://127.0.0.1:8080/listClazz" target="_self">编辑班级</a></p>
    <p><a href="http://127.0.0.1:8080/listTiku">编辑题库</a></p>
    <p><a href="http://127.0.0.1:8080/listKemu">编辑科目</a></p>
    <p><a href="http://127.0.0.1:8080/listShijuan">编辑试卷</a></p>
    <p><a href="http://127.0.0.1:8080/listTeacherClazz">任课管理</a></p>
    <p><a href="http://127.0.0.1:8080/listChengji">成绩查询（教师）</a></p>
    <p><a href="http://127.0.0.1:8080/Chengji">成绩查询（学生）</a></p>
</div>