<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./left.css" type="text/css" rel="stylesheet"/>
    <title>科目列表</title>
    <div>
        <form id="List">
            科目：<input type="text" name="miaoshu" size="40">
            <input type="button" value="现有科目查询" onclick="lists()">
            <br>
        </form>
        <form id="Add">
            科目：<input type="text" name="miaoshu" size="40">
            <input type="button" value="添加科目" onclick="Add()">
            <br>
        </form>
        <div id="updateForm"></div>
    </div>
</head>

<body>
<div class="parent">
    <div class="left">
        <p><a href="http://127.0.0.1:8080/index">首页</a></p>
        <p><a href="http://127.0.0.1:8080/listStudent">编辑学生</a></p>
        <p><a href="http://127.0.0.1:8080/listTeacher">编辑老师</a></p>
        <p><a href="http://127.0.0.1:8080/listClazz">编辑班级</a></p>
        <p><a href="http://127.0.0.1:8080/listTiku">编辑题库</a></p>
        <p><a href="http://127.0.0.1:8080/listKemu">编辑科目</a></p>
        <p><a href="http://127.0.0.1:8080/listShijuan">编辑试卷</a></p>
        <p><a href="http://127.0.0.1:8080/listTeacherClazz">任课管理</a></p>
    </div>
    <div class="right">
        <p>
        <div id="Result" style="margin: 0px 0 0px 5%;"></div>
        </p>
    </div>
</div>
</body>
<script type="text/javascript"
        src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script>
    function lists() {
        $.ajax({
            type: "POST",
            url: "ListKemu",
            data: $('#List').serialize(),
            dataType: "json",//类型
            success: function (msg) {

                var html = "<table id='myTable' border='1'><tr><td>科目</td><td>修改</td><td>删除</td></tr>";
                for (var i = 0; i < msg.length; i++) {    //遍历data数组
                    var ls = msg[i];
                    html += "<tr><td>" + ls.miaoshu + "</td><td><button onclick='updateForm(" + ls.id + "," + "\"" + ls.miaoshu + "\""+ ")'>修改</button></td><td><button onclick='deleteReg(" + ls.id + "," + i + ")'>删除</button></td>";
                }
                html += "</tr></table>";
                $("#Result").html(html);
            },
            error: function () {
                alert("加载资源失败");
            }
        });
    };


    function deleteReg(id, i) {
        $.ajax({
            type: 'post',
            url: 'DeleteKemu',
            data: {
                "id": id
            },
            success: function (data) {
                if (data == "success") {
                    alert("删除成功")
                    document.getElementById('myTable').deleteRow(i + 1);//主要就是这个删除成功后移除这行数据
                }
            }

        })
    }
</script>
<script>
    function Add() {

        $.ajax({
            type: "POST",
            url: "AddKemu",
            data: $('#Add').serialize(),
            success: function (data) {
                if (data == "success") {
                    alert("添加成功");
                } else {
                    alert("添加失败");
                }
            },
            error: function () {
                alert("添加失败");
            }
        });
    };

</script>


<script>
    function updateForm(id, miaoshu) {
        var html = "<form id='Update'>" +
            "<input type='hidden' name='id' value='" + id + "'>" +
            "科目：<input type='text' name='miaoshu' size='30' value='" + miaoshu + "'>" +
            "<input type='button' value='编辑' onclick='Update()'>" +
            "<br>" +
            "</form>";

        $("#updateForm").html(html);
    };

    function Update() {

        $.ajax({
            type: "POST",
            url: "UpdateKemu",
            data: $('#Update').serialize(),
            success: function (data) {
                if (data == "success") {
                    alert("修改成功");
                } else {
                    alert("修改失败");
                }
            },
            error: function () {
                alert("修改失败");
            }
        });
    };


</script>
</html>