<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <ul id="purchases">difdf
        <li>A tin of beans</li>
        <li class="sale">Cheese</li>
        <li class="sale important">Milk</li>
    </ul>

    <script type="text/javascript" src="../static/jquery-3.4.1.js"></script>

    <script>

        $(function start() {
            var len = { name: "wlm", year: 1992, sex: true };
            console.log(len.name);
            console.log(len.year);
            console.log(document.getElementById("purchases").getElementsByClassName("sale").length);  //2
            document.getElementById("purchases").setAttribute("title", "jjjjj");
            console.log(document.getElementById("purchases").getAttribute("title"));
            
        }
        )


    </script>
</body>


</html>