<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ChengjiMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Chengji">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="student_id" property="student_id" jdbcType="VARCHAR"/>
        <result column="shijuan_id" property="shijuan_id" jdbcType="VARCHAR"/>
        <result column="stat" property="stat" jdbcType="VARCHAR"/>
        <result column="answer" property="answer" jdbcType="VARCHAR"/>
        <result column="result" property="result" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazz_id" jdbcType="INTEGER"/>
    </resultMap>
    <select id="findChengji" resultMap="BaseResultMap">
        select * from t_Chengji
        <where>
            <if test="id != null and id !=''">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="student_id != null and student_id !=''">
                and student_id = #{student_id,jdbcType=VARCHAR}
            </if>
            <if test="shijuan_id != null and shijuan_id !=''">
                and shijuan_id = #{shijuan_id,jdbcType=VARCHAR}
            </if>
            <if test="clazz_id != null and clazz_id !=''">
                and clazz_id = #{clazz_id,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="deleteChengjiById" parameterType="int">
        delete from t_Chengji where id = #{id,jdbcType=INTEGER};
    </delete>

    <insert id="addChengji">
        INSERT INTO t_Chengji (miaoshu)
        VALUES(#{miaoshu,jdbcType=VARCHAR});

    </insert>


    <update id="updateChengji">
        update t_Chengji set miaoshu=#{miaoshu,jdbcType=VARCHAR}
         where id=#{id,jdbcType=INTEGER};
    </update>



</mapper>